<a href="https://colab.research.google.com/github/gmadhuri10/colab-python-tasks/blob/main/icp1_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
char_list = list(input("Enter the word (e.g., python): "))

# Ensure string has at least 2 characters to delete
if len(char_list) < 2:
    print("Not enough characters to delete.")
else:
    del char_list[2]
    del char_list[2]
    # Reverse the resulting list
    char_list.reverse()

    # Print the result as a string
    result = ''.join(char_list)
    print("Result after deletions and reversing:", result)


# Part b: Arithmetic operations
num1 = float(input("\nEnter first number: "))
num2 = float(input("Enter second number: "))

print("\nArithmetic Operations:")
print(f"{num1} + {num2} = {num1 + num2}")
print(f"{num1} - {num2} = {num1 - num2}")
print(f"{num1} * {num2} = {num1 * num2}")
if num2 != 0:
    print(f"{num1} / {num2} = {num1 / num2}")
else:
    print("Division by zero is not allowed.")

Enter the word (e.g., python): python
Result after deletions and reversing: noyp

Enter first number: 2
Enter second number: 3

Arithmetic Operations:
2.0 + 3.0 = 5.0
2.0 - 3.0 = -1.0
2.0 * 3.0 = 6.0
2.0 / 3.0 = 0.6666666666666666

In [9]:
# Accept sentence from user
sentence = input("Enter a sentence: ")

# Replace 'python' with 'pythons'
updated_sentence = sentence.replace("python", "pythons")

# Print the result
print("Updated sentence:", updated_sentence)

Enter a sentence: I love playing with python
Updated sentence: I love playing with pythons

In [10]:
# Take score input from user
score = float(input("Enter your class score (0–100): "))

# Check for valid range
if score < 0 or score > 100:
    print("Invalid score. Please enter a number between 0 and 100.")
else:
    # Determine grade
    if score >= 90:
        grade = 'A'
    elif score >= 80:
        grade = 'B'
    elif score >= 70:
        grade = 'C'
    elif score >= 60:
        grade = 'D'
    else:
        grade = 'F'

    # Print result
    print(f"Your grade is: {grade}")

Enter your class score (0–100): 98
Your grade is: A

In [11]:
# Input list
x = [23, 'Python', 23.98]

# Print original list
print(x)

# Create a list of types of each element
types = [type(i) for i in x]

# Print list of types
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [13]:
# Initial sets and list
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set IT_companies
print("Length of IT_companies:", len(IT_companies))

# Add 'Twitter' to IT_companies
IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)

# Insert multiple IT companies at once to the set IT_companies
IT_companies.update(['TCS', 'Infosys', 'Wipro'])
print("After adding multiple companies:", IT_companies)

# Remove one of the companies from the set IT_companies
IT_companies.remove('Oracle')  # Will raise error if 'Oracle' not found
print("After removing Oracle:", IT_companies)

# Difference between remove and discard
print("""
'difference between remove and discard':
- remove() raises an error if the item is not found.
- discard() does not raise an error if the item is not found.
""")

# Join A and B
print("A union B:", A.union(B))

# Find A intersection B
print("A intersection B:", A.intersection(B))

# Is A subset of B
print("Is A subset of B?", A.issubset(B))

# Are A and B disjoint sets
print("Are A and B disjoint?", A.isdisjoint(B))

# Join A with B and B with A
print("A union B:", A.union(B))
print("B union A:", B.union(A))  # Same as A.union(B)

# What is the symmetric difference between A and B
print("Symmetric difference:", A.symmetric_difference(B))

# Delete the sets completely
del A
del B

# Convert the ages to a set and compare the length of the list and the set
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of IT_companies: 7
After adding Twitter: {'Facebook', 'Oracle', 'Microsoft', 'Amazon', 'IBM', 'Google', 'Twitter', 'Apple'}
After adding multiple companies: {'Oracle', 'Facebook', 'Microsoft', 'IBM', 'Google', 'Wipro', 'Apple', 'Amazon', 'Twitter', 'Infosys', 'TCS'}
After removing Oracle: {'Facebook', 'Microsoft', 'IBM', 'Google', 'Wipro', 'Apple', 'Amazon', 'Twitter', 'Infosys', 'TCS'}

'difference between remove and discard':
- remove() raises an error if the item is not found.
- discard() does not raise an error if the item is not found.

A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint? False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference: {27, 28}
Length of age list: 8
Length of age set: 5