<a href="https://colab.research.google.com/github/gmadhuri10/colab-python-tasks/blob/main/ICP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
def sum_all(*args):
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

In [9]:
def first_word(words):
    # Sort the list alphabetically
    words.sort()
    return words[0]

input_string = input("Enter names separated by commas: ")

words_list = [name.strip() for name in input_string.split(',')]

print("First word alphabetically is:", first_word(words_list))

Enter names separated by commas: madhu, anu, bhanu, chandhu
First word alphabetically is: anu

In [10]:
class Employee:
    employee_count = 0
    all_salaries = []

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department

        Employee.employee_count += 1
        Employee.all_salaries.append(salary)

    def average_salary(self):
        if Employee.all_salaries:
            avg = sum(Employee.all_salaries) / len(Employee.all_salaries)
            return round(avg, 2)
        return 0

class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)


e1 = Employee("Alice", "Smith", 50000, "HR")
e2 = FulltimeEmployee("Bob", "Johnson", 70000, "Engineering")
e3 = FulltimeEmployee("Charlie", "Brown", 60000, "Sales")

print("Total number of employees:", Employee.employee_count)
print("Average salary of all employees:", e1.average_salary())

print(f"{e2.name} works in {e2.department} with a salary of ${e2.salary}")
print(f"{e3.name} works in {e3.department} with a salary of ${e3.salary}")

Total number of employees: 3
Average salary of all employees: 60000.0
Bob works in Engineering with a salary of $70000
Charlie works in Sales with a salary of $60000